<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>465189300819-de10cc9hbvoaipk5ovebq300vkht6t6s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465189300819-de10cc9hbvoaipk5ovebq300vkht6t6s</string>
	<key>API_KEY</key>
	<string>AIzaSyAcDvA7rTyyvyzb7Q45rugoclkEDQ4kUUA</string>
	<key>GCM_SENDER_ID</key>
	<string>465189300819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kazuki.menlog</string>
	<key>PROJECT_ID</key>
	<string>menlog-53f05</string>
	<key>STORAGE_BUCKET</key>
	<string>menlog-53f05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465189300819:ios:95bf21d7a5723636c9b4a6</string>
</dict>
</plist>